<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Common Songs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>

<a th:href="@{'/'}">back</a>
<br />
<input type="button" value="Join group" id="join" />
<input type="button" value="Get group playlist" id="compute" />
<br /><br />
To invite friends to this group, share the link with them! <br /> They must be logged in first.


</body>
</html>