<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Common Songs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <a th:href="@{'/'}">back</a>

    <br /><br />

    <form ACTION="#" th:action="@{/group/join}" method="POST">
        <input type="hidden" th:name="groupId" th:value="${group.groupId}" />
        <button>Join Group</button>
    </form>

    <br />

    <table border="1">
        <tr>
            <td>User ID</td>
            <td>Saved Songs</td>
        </tr>
        <tr th:each="user : ${group.users}">
            <td>
                <p th:text="${user.userId}"></p>
            </td>
            <td>
                <p th:text="${#sets.size(user.savedSongs)}"></p>
            </td>
        </tr>
    </table>

    <form ACTION="#" th:action="@{/group/view}" method="POST">
        <input type="hidden" th:name="groupId" th:value="${group.groupId}" />
        <button>View Group Playlist</button>
    </form>
    <br /><br />
    To invite friends to this group, share the link with them! <br /> They must be logged in first.


</body>
</html>