<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Common Songs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script>
        function setUpdateButton() {
            var btn = document.getElementById('updateButton');
            btn.onclick = function () {
                var request = new XMLHttpRequest();
                request.open('POST', '/update', true);
                request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                request.send();
            }
        }
        window.onload = setUpdateButton;
    </script>
</head>


<body>

<input type="button" value="Update My Saved Songs" id="updateButton" />

<br /><br />

<form ACTION="#" th:action="@{/create}" th:object="${group}" method="POST">
    <input type="text" name="name" />
    <button>Create New Group</button>

</form>

<table border="1" th:if="${!groups.empty}">
    <tr>
        <td>Name</td>
        <td>Size</td>
        <td>View</td>
    </tr>
    <tr th:each="group : ${groups}">
        <td>
            <p th:text="${group.name}"></p>
        </td>
        <td>
            <p th:text="${group.users.size}"></p>
        </td>
        <td>
            <a th:href="|/group?id=${group.id}|">Go</a>
        </td>
    </tr>
</table>


</body>
</html>